<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed == true %>
      <input type="checkbox" checked disabled>
      <% else  %>
      <input type="checkbox" disabled>
      <% end %>
      <%= link_to task.title, task_path(task)%>
      <br>
      <%= link_to "Destroy this task", task_path(task), method: :delete, data: { confirm: "Delete?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new task", tasks_new_path%>
